
/*size */
h2{
    font-size: 20px;
}
img {
    height: 30vh;
    width: 20vw;
}
/*.container {
    height: 30vh;
    width: 50vw;
    text-align: center;
    border: 1px solid #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}*/
.containerOne {
    /*background-image: url("cheatsheet.jpeg");*/
    
}
.containerTwo {
   /* background-image: url("design.webp"); */
    background-position: 75%;
    

}
.containerThree {
   /* background-image: url("utility.jpeg");*/
   
    
}
.containerFour {
    /*background-image: url("FAQs.jpeg");*/
}
nav span {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
     margin: 10px;
  }
/*box */
h1{
    padding: 150px;
    text-align: center;
    background-image: url("https://live.staticflickr.com/2167/5740471915_cbf6a414fb_b.jpg");
    background-position: center;
}

.mainContainer{
   display:flex;
   justify-content: space-evenly;
}
nav {
    display:flex;
    justify-content: space-evenly;
  }
  h3{
    border: 1px solid black;
    padding: 100px;
  }
/*positions */
h3{
    text-align: left;
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA3L2xyL25hc2EwMDAwMS1pbWFnZS5qcGc.jpg");
    background-position:center;
}

/* colors  and fonts*/

body{
     background-color:  #1F292B ;
     margin: 0;
}

.containerOne {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}
.containerTwo {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}
.containerThree {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}
.containerFour {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
}
nav a {
    color: #CFB53B;
  }

  h3 {
    color: #FFFFFF;
    font-size: 20px;
  }
  
 a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;;
 } 
 